name: AppSec Scan CortexCLI
permissions: {}
on:
  pull_request:
    
jobs:
  cortex:
    runs-on: ubuntu-latest
    env:
      CORTEX_API_KEY: ${{ secrets.CORTEX_API_KEY }}
      CORTEX_API_KEY_ID: ${{ secrets.CORTEX_API_KEY_ID }}
      CORTEX_API_BASE_URL: ${{ secrets.CORTEX_API_BASE_URL }}

    steps:
    # Initial Setup
    - name: Checkout
      uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v5

    - name: Download cortexcli
      run: |
        crtx_resp=$(curl -H "x-xdr-auth-id: ${CORTEX_API_KEY_ID}" -H "Authorization: ${CORTEX_API_KEY}" "${CORTEX_API_BASE_URL}/public_api/v1/unified-cli/releases/download-link?os=linux&architecture=amd64")
        crtx_url=$(echo $crtx_resp | jq -r ".signed_url")
        curl -o cortexcli $crtx_url
        chmod +x cortexcli
        ./cortexcli --version
        
    # Do AppSec Code Scanning
    - name: Set up Node.js
      uses: actions/setup-node@d7a11313b581b306c961b506cfc8971208bb03f6
      with:
        node-version: 22

    - name: Verify Node.js Version
      run: node -v
      
    - name: Run Cortex CLI Code Scan
      run: |
        ./cortexcli code scan \
          --directory "${{github.workspace}}" \
          --repo-id "${{github.repository}}" \
          --branch "${{github.ref_name}}" \
          --source "GITHUB_ACTIONS" \
          --create-repo-if-missing

